<template>
  <div class="container">
    <news-list :subject="subject"/>
  </div>
</template>

<script>
// @ is an alias to /src
import NewsList from "@/components/NewsList";

export default {
  data() {
    return {};
  },
  methods: {},
  components: {
    NewsList
  }
};
</script>
