<template>
  <div>
    <news-detail :url="selectedNews" @backClick="selectNews(null)" v-if="this.selectedNews"/>
    <div class="row" v-else>
      <div class="col-12 mb-3">
        <form class="form-inline" @submit.prevent="submitSearch">
          <div class="form-group mr-2">
            <input type="text" placeholder="Search..." v-model="search" class="form-control">
          </div>
          <button type="button" @click="submitSearch" class="btn btn-primary">Search</button>
        </form>
      </div>
      <div class="col-4 my-2" v-for="(news,index) in newsList" :key="index">
        <div class="card shadow-sm">
          <img class="card-img-top news-img" :src="getAsset(news.multimedia)" alt="Card image cap">
          <div class="card-body">
            <h3>{{news.headline.main}}</h3>
            <p class="card-text text-muted">{{trim(news.lead_paragraph)}}</p>
            <button @click="selectNews(news.web_url)" class="btn btn-secondary">Read More</button>
            <hr>
            <small>
              <strong>{{formatTime(news.pub_date)}}</strong>
            </small>
            <br>
            <small>{{news.byline.original}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
import noImage from "@/assets/no_image.png";
import NewsDetail from "./NewsDetail.vue";

export default {
  components: { NewsDetail },
  data() {
    return {
      baseUrl: "https://api.nytimes.com/svc/search/v2/articlesearch.json",
      apiKey: "x56nYFTa14iEGlcJBladlqGlRJqVIV0W",
      assetUrl: "https://static01.nyt.com/",
      newsList: [],
      selectedNews: null,
      search: "Sports",
      subject: "Sports"
    };
  },
  methods: {
    submitSearch() {
      this.subject = this.search;
    },
    selectNews(url) {
      this.selectedNews = url;
    },
    trim(text) {
      if (text.length > 200) {
        return text.substring(0, 100) + "...";
      }
      return text;
    },
    formatTime(time) {
      return moment(time).format("LLL");
    },
    getAsset(multimedia) {
      if (multimedia[0]) {
        return this.assetUrl + "" + multimedia[0].url;
      }
      return noImage;
    },
    async callApi(subject) {
      let response = await axios.get(this.baseUrl, {
        params: {
          fq: `subject.contains:("${subject}")`,
          "api-key": this.apiKey
        }
      });

      this.newsList = response.data.response.docs;
    }
  },
  watch: {
    subject(newValue) {
      this.callApi(newValue);
    }
  },
  created() {
    this.callApi(this.subject);
  }
};
</script>
<style lang="scss" scoped>
.news-img {
  //   width: 350px;
  height: 270px;
}
.card {
  min-height: 550px;
}
</style>

