<template>
  <div class="container">
    <div class="row my-3">
      <div class="col-12">
        <button @click="backButton" class="btn btn-secondary">Back</button>
        <div class="embed-responsive embed-responsive-21by9 iframe">
          <iframe :src="url"></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
    return {};
  },
  props: ["url"],
  methods: {
    backButton() {
      this.$emit("backClick");
    }
  }
};
</script>
<style lang="scss" scoped>
.iframe {
  height: 80vh;
}
</style>
